@media screen and (max-width:664px){


    * {
        margin: 0;
        padding: 0;
    }
    body{
        background-color:#f0f0f0;
    }
    
    header {
        position: fixed;
        z-index: 1;
        background: var(--main-bg-color);
        height:122px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    
    }
    
    nav {
        background: var(--main-bg-color);
    
        display: flex;
        justify-content:center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .logo {
    
        /* display: flex;
        flex-direction: column; */
    
        margin: 42px 62px 18px 0px;
    }
    .logo a{
        color: white;
        list-style: none;
        text-decoration: none;
        font-size: 10.3px;
        font-style: italic;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        margin-right: 1vw;
    }
    
    nav ul li a {
        text-decoration: none;
        color: white;
        margin: 0 1vw;
    
    }
    
    nav ul li a:hover {
        color: cyan;
        font-weight: normal;
    }
    
    nav input {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33px;
        width: 34vw;
    
    }
    
    .search {
        display: flex;
        
        align-items: center;
        height: 34px;
        width: 32vw;
        margin: 32px 3px 0px 12px;
    }
    .ico {
        
        /* position: absolute; */
        padding: 0px 12px;
        opacity: 90%;
       
    }
    
    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .more {
        font-family: 'Roboto', sans-serif; 
        font-size: 15px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        margin: 0px 42px 42px 2px;
    }
    
    .cart {
        margin: 0px 2px 42px 2px;
    }
    .carts {
        font-family: 'Roboto', sans-serif; 
        font-weight: bold;
    
        font-size: 15px;
        color: white;
        text-decoration: none;
        margin: 0px 122px 42px 2px;
    }
    
    .login button{
        margin: 0px 2px 42px 110px;
        height: 34px;
        width: 122px;
         color: var(--main-bg-color);
         font-size: 15px;
         font-weight:bold;
         color: #2874f0;
         background-color: white;
         border-radius: 3px;
         border-color:#2874f0 ;
        }
                                           /* Subheader */
        .subheader{
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-top: 8.5vh;
            height: 18vh;
            border: 2px solid rgba(190, 184, 212, 0.603);
            overflow: hidden;
    
        } 
        .card-ite{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 2px 1px;
              overflow:visible;
            } 
        .item-tex p1{
            
              font-size: 14px;
              font-family: 'Roboto', sans-serif;
        }
        .item-tex a{
            text-decoration: none;
        }
        .container {
            height: 1300px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .slider{
            background-color: #2874f0;
            height: 18vh;
            overflow: hidden;
            background-color: white;
            margin:0h 0vw 0vh 0vw;
            display: flex;
            justify-content: center;
          }
          @keyframes slide1 {
            0% {
                transform: translate(-130vw);
            }
        
            100% {
                transform: translate(40vw);
            }
        }
        
        @keyframes slide2 {
            0% {
                transform: translate(-40vw);
            }
        
            100% {
                transform: translate(100vw);
                 }
            }
        .img1 {
            animation: slide1 10s 0s forwards infinite;
            animation-timing-function: cubic-bezier(.44,.11,.28,.97) ;
        
        }
        
        .img2 {
            animation: slide2 10s 0s forwards infinite ;
            animation-timing-function:cubic-bezier(.53,.02,.31,1.02) ;
        }
                                              /* CARD */
        .card-main{
            overflow: hidden;
            height: 260px;
            width: 97vw;
            display:flex;
            flex-direction: column;
            align-content: center;
            margin: 1vh 1vw;
           background-color:#fff;
           border: 1px solid rgba(2, 2, 2, 0.151);
        }
        .card{
           
            display: flex;
            overflow: hidden;
            margin: 0px 0px
        }
        .card-title{
            padding: 1px 1px 1px 2px;
            background-color: rgba(46, 134, 216, 0.041);
            border: 1px solid rgba(2, 2, 2, 0.041);
            display: flex;
            justify-content: space-between;
        }
        button{
            height: 37px;
            width: 88px;
            font-family: 'Roboto', sans-serif; 
            background-color: #2874f0;
            color: white;
        }
        
        .card-item{
            display:flex;
            flex-direction: column;
            margin: 0px 3px;
            justify-content: center;
            align-items: center;
        }
        .item-text
        {
            display: contents;
            flex-direction: column;
            margin: 0px;
            justify-content: center;
        }
        .item-text p
        {
         
            margin: 0px;
        } 
        p1{
            margin: 0px 0px 0px 0px;
            color:black ;
            font-size: medium;
            font-family: 'Roboto', sans-serif;
        }
        
        p2{
           
            margin: 0px;
            color: green;
        }
        
        p3{
           
            margin: 0px;
            color: rgba(8, 8, 8, 0.548);
        }
        
        footer {
            background-color: black;
            color: white;
            width:100vwvw;
            height: 8vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto', sans-serif;
        }
}